.content-wrapper {
	background-image: url("../images/sprites/fork-bg.png");
	height: 800px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;

	.container-fork {
		display: flex;
		justify-content: center;
		margin-top: 100px;
		margin-bottom: 80px;

		.aboutFork-title {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 48px;
			line-height: 50px;
			color: #FFFFFF;

		}
	}

	.card-first-row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;

		.card {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-right: 80px;
		}

		.about-fork-info {
			text-align: center;
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: #FFFFFF;
		}
	}

	.card-first-row:last-child {
		margin-top: 112px;
	}

	.main-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.line {
			background-color: #645766;
			width: 780px;
			height: 2px;
		}

		.post-script {
			font-family: 'Lato', sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			color: #A291A5;
			text-align: center;
		}
	}


}

.revolution-editor{
    text-align: center;
    .revolution-editor_title{
        .rev-text{
            font-weight: 700;
            font-size: 54px;
            line-height: 54px;
            text-transform: uppercase;
            color: #635C73;
            font-weight: 800;
        }
        .about-rev_text{
            font-size: 21px;
            line-height: 32px;
            text-align: center;
            color: #323232;
            margin: 0 auto;
            margin-top: 35px;

        }

        .about-rev_text_text{
            font-size: 21px;
            line-height: 32px;
            text-align: center;
            color: #323232;
            margin: 0 auto;
            
        }
    }
}



    .what-you-get{
        background: #F4F4F4;
        margin-top: 70px;
        .what-you-get_title{
            display: flex;
            justify-content: end;
            .all-blocks{
                margin-right: 140px;
                margin-top: 98px;
                .what-about{
                    .image-description{
                        display: flex;
                        align-items: center;
                        
                        .img-get{
                            width: 111px;
                            height: 64px;
                            margin-right: 44px;
                        }
                        .image-description_text p{
                            width: 390px;
                            font-size: 14px;
                            line-height: 21px;
                            color: #848E97;
                            margin-top: 17px;
                        }
        
                        .image-description_text h5{
                            font-size: 16px;
                            line-height: 15px;
                            display: flex;
                            align-items: center;
                            color: #323232;
                            
                        }
                    }
                }
            }
            
    
            .here-title{
                margin-top: 94px;
                .here-title_text{
                    font-size: 48px;
                    line-height: 50px;
                    color: #8D81AC;
                    font-weight:700;
                    margin-bottom: 19px;
                    
                }
        
                .left-pin{
                    position: relative;
                    right: -13px;
                }
                .rigth-pin{
                    position: relative;
                    right: 13px; 
                    top: 1px;
                }
            }
            
        }
    
    }



    .price{
        margin-top: 83px;
        .price-title h2{
            font-weight: 700;
            font-size: 48px;
            line-height: 50px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #000000;
            justify-content: center;
            
        }
    }



    .chose-price{
        margin-left: 133px;
        display: flex;
        justify-content: center;
        margin-top: 112px;
        .chose-price-list{
            margin-right: 15px;
            .block-list{
                background-color: #000000;
                mix-blend-mode: normal;
                // opacity: 0.06;
                height: 97px;
            }
            .block-list h4{
                font-size: 24px;
                line-height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: #FFFFFF;
                padding-top: 36px;
            }
        }
        .cost-list{
            text-align: center;
            background-color: #717171;
            height: 360px;
            width: 257px;
            .cost-check{
                font-size: 60px;
                line-height: 90px;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                margin-left: 76px;
            }
            .month{
                    font-size: 14px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    color: black;
                    margin-left: 86px;
                    margin-top: 13px;
            }
            .image-list{
                margin-top: 38px;
            }
            .license{
                font-size: 16px;
                line-height: 18px;
                display: flex;
                align-items: center;
                text-align: center;
                margin-left: 67px;
                margin-top: 30px;
            }
            .btn-license{
                font-size: 15px;
                    line-height: 15px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-transform: uppercase;
                    border-radius: 15px;
                    border: none;
                    padding: 15px 33px;
                    margin-left: 25px;
                    margin-top: 67px;
            }
        }

       
    }